{{- /* Inner-page masthead: brand on the left, navigation on the right. */ -}}
<div class="masthead masthead--compact">
  <a class="brand" href="{{ "/" | relURL }}">
    <span class="roundel"><img src="{{ site.Params.portrait | relURL }}" alt="The Prophet, borne upon His kebab"></span>
    <span>
      <span class="masthead__title">{{ site.Title }}</span>
      <span class="masthead__tagline">{{ site.Params.tagline }}</span>
    </span>
  </a>
  {{ partial "nav.html" (dict "page" . "banner" false) }}
</div>
