{{- /* Renders an integer as a Roman numeral. Used for the masthead's DIES count
       and for numbered parts inside a teaching. */ -}}
{{- $n := int . -}}
{{- $vals := slice 1000 900 500 400 100 90 50 40 10 9 5 4 1 -}}
{{- $syms := slice "M" "CM" "D" "CD" "C" "XC" "L" "XL" "X" "IX" "V" "IV" "I" -}}
{{- $out := "" -}}
{{- if gt $n 0 -}}
  {{- range $i, $v := $vals -}}
    {{- $c := int (math.Floor (div $n $v)) -}}
    {{- if gt $c 0 -}}
      {{- range seq $c -}}{{- $out = print $out (index $syms $i) -}}{{- end -}}
      {{- $n = mod $n $v -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $out -}}
